/* RESET STYLE */
@import url('https://fonts.cdnfonts.com/css/whitney-2');

:root {
    font-family: "Whitney", ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
    font-size: 25px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header Style */
.flex{
    display: flex;
}

.flex li{
    padding: 0 10px;
}

.align-c{
    align-items: center;
}

nav{
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    font-weight: lighter;
}

ul{
    list-style: none;
}

.py-5{
    padding-top: 5px;
    padding-bottom: 5px;
}

.px-10{
    padding-left: 10px;
    padding-right: 10px;
}

.button{
    text-decoration: none;
    padding: 9px;
    background-color: rgb(40, 40, 253);
    color: white;
}


/* Jumbotron Style */
.jumbotron{
    width: 60%;
    margin: 0 auto;
}

.main-text{
    font-size: 90px;
}
