/* RESET STYLE */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header Style */
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    background-color: white;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex li {
    padding: 0 10px;
}

.align-c {
    align-items: center;
}

nav {
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    font-weight: lighter;
}

ul {
    list-style: none;
}

.py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.button {
    text-decoration: none;
    padding: 9px;
    background-color: rgb(40, 40, 253);
    color: white;
}


/* Jumbotron Style */
.jumbotron {
    background-color: rgb(184, 193, 230);
}

.container-jumbo {
    width: 65%;
    margin: 0 auto;
}

.main-text {
    font-size: 80px;
    padding-top: 100px;
    padding-bottom: 70px;
    margin: 0;
}

.img-jumbo img {
    width: 860px;
    height: 500px;

}

.text-jumbo {
    font-size: 20px;
    font-weight: lighter;
    padding: 20px 0;
}

.button-jumbo a {
    font-size: 20px;
}

#arrow-down {
    padding-top: 100px;
    font-size: 80px;
}

/* MAIN STYLE */
/* Abbonamenti */
main {
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
}

div span {
    padding-right: 20px;
    font-size: 20px;
}

.p-15 {
    padding: 20px;
}

.abbonamenti {
    font-size: 19px;
}

.flex-item {
    flex-basis: 33%;
    border: 1px solid dimgray;
    margin-right: 20px;
}

.text-left {
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
}

.user {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 5px;
}

.text-left li {
    padding: 5px 0px;
}

.divide {
    width: 25%;
    margin: 0;
    border-bottom: 1px solid black;
    min-height: 30px;
}

.hightlight {
    padding-top: 40px;
}

.buy {
    padding-top: 40px;
}

.btn-main {
    display: inline-block;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.team-contact {
    margin-top: 50px;
    margin-bottom: 80px;
    border: 1px solid black;
    font-size: 17px;
}

.text-team{
    flex-basis: 73%;
}

.text-team div b{
    padding-bottom: 30px;
    display: inline-block;
}

.team-btn{
    flex-basis: 37%;
}

/* Partner */
.partner img{
    width: 600px;
}

.text-partner{
    font-size: 19px;
    padding: 70px 100px;
    text-align: left;
}

.btn-partner{
    margin-top: 50px;
}

.btn-partner a{
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 15px;
}

/* Features */




